    body {
        background: url(/img/img.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .all {
        left: 5%;
        height: 100vh;
        width: 100%;
        border: solid 1px #fff;
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(to right, #3B68F5, rgba(133, 24, 102)) 1;
        box-shadow: 4px 6px 9px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 4px 6px 9px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 6px 9px 0px rgba(0,0,0,0.75);
        background-color: #1a1a5e8f;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .all a{
        text-align: center;
    }
    .all input {
        margin: 2px;
        display: block;
        box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
    }
    .containerTitulo{
        text-align: center;
    }
    .containerTitulo h1{
        color: #fff;
        font-weight: bold;
        font-size: 5rem;
        text-shadow: 2px 6px 2px rgba(0,0,0,0.36);
    }
    .containerInpuntBtn {
        text-align: center;
    }
    .boton{
        margin-top: 15px;
        box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
    }
    a{
        text-decoration: none;
        color: #fff;
    }   

    .inputNombre{
        margin-bottom: 20px !important;
    }
    .botonSubmit{
        position: relative;
        width: 100%;
        bottom: 0;
    }

    .containerInputs{
        height: 15vh;
    }

    .nombreForm{
        --form-ok-color: #8DFA8C;
        --form-error-color: rgba(133, 24, 102);
        margin-left: auto;
        margin-right: auto;
    }

    .nombreForm > *{
        padding: 0.5rem;
        margin: 1rem auto;
        display: block;
        width: 100%;
    }

    .form-response{
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        color: #fff;
        padding: 5px 5px;
    }

    .nombreForm [required]:valid{
        border: 3px solid var(--form-ok-color);
        z-index: 999;
    }
    .nombreForm [required]:invalid{
        border: 3px solid var(--form-error-color);
    }
    .nombreForm-error{
        margin-top: -1rem;
        font-size: 80%;
        background-color: var(--form-error-color);
        color: #fff;
        transition: all 800ms ease;
    }
    .nombreForm-error.is-active{
        display: block;
        animation: show-message 1s 1 normal 0s ease-in-out both;
    }

    @keyframes show-message {
        0%{
            visibility: hidden;
            opacity: 0;
        }
        100%{
            visibility: visible;
            opacity: 1;
        }
    }


    .none{
        display: none;
    }